@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
.menu {
    margin: -15px;
    margin-bottom: -35px;
    text-align: center;
    height: 310px;
    display: grid;
    grid-template-rows: 40px 40px;
    grid-template-areas: "inicio"
                         "fim";
    grid-row-gap: 30px;
    justify-items: center;
    background-image: url(../img/index.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    background-attachment: scroll;  
}
.menu div span {
    margin-top: 105px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 60px;
    grid-area: inicio;
    
}
.menu div button {
    background: gray;
    color: white;
    font-weight: bold;
    font-size: 20px;
    grid-area: fim;
    width: 300px;
    height: 30px;
    margin-top: 20px;
    border: 2px solid black;
    font-family: 'Cabin Sketch', cursive;
    cursor: pointer;
}
.menu div button#atual{
    background-color: black;
}
body section div img {
    display: none;
}
@media all and (min-width: 760px){
    .menu div button{
        margin-top: 50px;
    }
}
@media all and (min-width: 1024px){
    .menu div button{
        width: 200px;
    }
}
@media all and (min-width: 1300px){
    .menu div button{
        width: 300px;
        margin-top: 100px;
    }
}
@media all and (min-width: 1900px){
    .menu {
        background-size: cover;
    }
    .menu div button {
        width: 350px;
        font-size: 20px;
    }
}