@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
body {
    text-align: center;
    background-image: url(index2.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 120px;
    font-family: 'Cabin Sketch', cursive;
}
button {
    margin: 20px;
    height: 50px;;
    width: 100px;
    color: black;
    border: 2px solid black;
    background: transparent;

}

@media all and (min-width: 760px){
    h1 {
        margin-top: 200px;
        font-size: 50px;
    }
    button {
        margin-top: 100px;
        margin-right: 30px;
        height: 50px;
        width: 120px;
        border: 2px solid black;
        background: transparent;
        color: black;
        }
    button:hover {
        background:black;
        color: white;
        transition: 1s;
        cursor: pointer;

    }
}
@media all and (min-width: 1024px){
    button {
        width: 150px;
        font-size: 25px;
    }
}
@media all and (min-width: 1300px){
    button {
        margin-right: 100px;
        margin-top: 135px;
    }
}
